CRON_SECRET="your-cron-secret"
AI_GATEWAY_API_KEY="your-ai-gateway-api-key"

ALPACA_API_KEY="your-alpaca-api-key"
ALPACA_SECRET_KEY="your-alpaca-secret-key"

NEXT_PUBLIC_VAPID_PUBLIC_KEY="your-vapid-public-key"
VAPID_PRIVATE_KEY="your-vapid-private-key"

MONGODB_URI="your-mongo-uri"
